body {
	background-color: #212121;
	margin: auto;
}

.container {
	display: grid;
	height: 97vh;
	justify-content: center;
	align-content: center;
	grid-template-columns: 100px 100px 100px 100px;
	grid-template-rows: 100px 100px 100px 100px;
}

.box {
	border: 2px solid purple;
}