:root {
	--input: 0;
	--pageSize: 800px;
}

body {
	background-color: #212121;
	margin: auto;
}

#page {
	display: flex;
	flex-direction: column;
	height: 97vh;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#change-grid {
	align-self: center;
	margin: 50px;
}

.container {
	display: grid;
	grid-template-columns: repeat(var(--input), 1fr);
	grid-template-rows: repeat(var(--input), 1fr);
	justify-content: center;
	height: var(--pageSize);
	width: var(--pageSize);
	border: 2px solid lime;
}

.box {
	border: 2px solid purple;
}

.on {
	background-color: antiquewhite;
}

.off {
	background-color: #212121;
	transition: background-color 2s
}